/*
red: #e01e3c;
black: #161616;
white: #ffffff;
font-family: 'Oswald', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/
/* * * * * * * * * * * * * * * * * * * * *
General Styles
* * * * * * * * * * * * * * * * * * * * */
h1, h2, h3 {
 font-family: 'Nunito Sans', sans-serif;
}
h1 {
 font-size: 70px;
 font-weight: 900;
}
h2 {
 font-size: 50px;
 font-weight: 700;
}
h3 {
 font-size: 36px;
 font-weight: 700;
}
h4{
  font-size: 36px;
  font-weight: 700;
}
p {
 font-family: sans-serif;
}
.button {
 font-family: 'Oswald', sans-serif;
 font-size: 12px;
 padding:10px 30px;
 text-transform: uppercase;
 border-radius: 20px;
 margin: 10px;
}
.red-button{
 border: 1px solid #e01e3c;
 background: #e01e3c;
 color:white;
}
.light-button{
 border: 2px solid white;
 background: transparent;
 color:white;
}
.dark-button{
 border: 1px solid #999;
 background: transparent;
 color:#161616;
}
/* * * * * * * * * * * * * * * * * * * * *
Header Styles
* * * * * * * * * * * * * * * * * * * * */
/* General */
header {
 height: 80px;
 background: #161616;
 padding-top: 20px;
}
/*header .logo {
 background-image: url('./assets/logo.svg');
 height: 40px;
 width: 40px;
 background-size: 40px;
}*/
/*desktop nav*/
.logo {
 background-image: url('./assets/logo.svg');
 height: 40px;
 width: 40px;
 background-size: 40px;
}
.desktop-nav ul {
 float: right;
 margin-top: 10px;
 padding: 0;
 width: calc(100% - 60px);
 text-align: right;
}
/*-------------------------*/
ul{
  padding: 0;
}
li{
  list-style: none;
}
a{
  font-family: 'oswald', sans-serif;
  text-transform: uppercase;
}
/*-------------------------*/
.desktop-nav li {
 display: inline-block;
 margin-left: 25px;
}
.desktop-nav a,
.desktop-nav a:visited {
 color: white;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}
.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active {
 opacity: 0.9;
 color: white;
 text-decoration: none;
}
.desktop-nav .logo {
 float: left;
}
/* MObile nav */
.mobile-nav {
 display: none;
 text-align: center;
}
.mobile-nav .logo {
 display: inline-block;
}
.mobile-nav .hamburger-container,
.mobile-nav .search-container {
 vertical-align: top;
 margin-top:8px;
 width: 40px;
 display: inline-block;
 margin-left: -4px;
}
.mobile-nav .logo-container {
 display: inline-block;
 margin-left: -4px;
 width: calc(100% - 80px);
}
.mobile-nav button {
 background: transparent;
 border: none;
 color: white;
}
@media (max-width: 768px) {
 .mobile-nav {
 display: block;
 }
 .desktop-nav {
 display: none;
 }
}
/*Hero styles */
.hero {
 height: calc(100vh - 80px);
 background: #999;
 background-image: url('./assets/hero-large.jpg');
 background-size: cover;
 background-position: center;
 color:white;
 text-align: center;
}
.hero-text-conatiner {
 padding-top: 40vh;
}
.hero-text-conatiner h1{
 font-size: 32px;
 margin-bottom:20px;
}
.hero-text-conatiner p{
 font-size: 16px;
 margin-bottom: 40px;
}
@media (max-width:700px){
.hero{
 background-image:url('./assets/hero-small.jpg')
 height:30%;
 width:100%
}
}
/*Product lineup */
.product-lineup-container {
 height: 400px;
 background: #333;
}
/*featured product */
.featured-product-container {
 height: 400px;
 background: #444;
}
/*product support */
.product-support-container {
 height: 400px;
 background: #555;
}
/*subscription */
.subscription-container {
 height: 400px;
 background: #666;
}
footer {
  background-image: url('./assets/logo.svg');
  height: 40px;
  width: 40px;
  background-size: 40px;
 height: 400px;
 background: white;
padding: 80px

}
footer a{
  color: #999;
  font-size: 0.9em;
  line-height: 3;
}
.social-icons a{
  font-size: 2em;
  margin-right: 5px;
}
